# SPDX-License-Identifier: GPL-2.0
# Select 32 or 64 bit
config 64BIT
	bool "64-bit $(project)" if "$(ARCH)" = "x86"
	default "$(ARCH)" != "i386"
	---help---
	  Say yes to build a 64-bit kernel - formerly known as x86_64
	  Say no to build a 32-bit kernel - formerly known as i386


config CPU_BIG_ENDIAN
	bool "Enable Big Endian Mode"
    default n

config HAVE_STACKPROTECTOR
	bool "Enable HAVE_STACKPROTECTOR"
    default n

config ARCH_WANT_FRAME_POINTERS
	bool "ARCH_WANT_FRAME_POINTERS"
	default n
